.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    &--primary {
        @extend .button;
        background-color: #fde;
    }

    &--secondary {
        @extend .button;
        background-color: #ffe;
    }
}
