<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/location">Location</a>
                    <a href="/services">Services</a>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div>
          <h1>Contact</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe consequuntur exercitationem reprehenderit sint, veritatis est. Incidunt iure minus praesentium, quod ullam quae alias sequi? Excepturi mollitia rem dignissimos numquam.</p>
        </div>
    </body>
</html>
