@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
}

@mixin margin-padding($values...) {
    margin: $values;
    padding: $values;
}

@mixin border($width, $style, $color) {
    border: $width $style $color;
}

body {
    @include margin-padding(20px 40px);
    @include border(10px, solid, lightgrey);
}
